* {
  margin: auto;
  box-sizing: border-box;
}
.container {
  margin: auto;
  padding: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
title {
  background-color: blueviolet;
}

body {
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

#questions-container {
  width: 800px;
  max-width: 90%;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px 2px;
  display: none;
}

.questionDiv {
  display: none;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.q1Btn {
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.q2Btn {
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.q3Btn {
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.submission {
  display: none;
}

#start-btn {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#header {
  padding-bottom: 10px;
}
